<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74183429248-nf71kb6cn2f6qe5peq7ate8u0d71nd9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74183429248-nf71kb6cn2f6qe5peq7ate8u0d71nd9o</string>
	<key>API_KEY</key>
	<string>AIzaSyBbzhoSpQC8qMyH9EN1Ie4eXyPcUO-glBE</string>
	<key>GCM_SENDER_ID</key>
	<string>74183429248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-e41fa</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-e41fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74183429248:ios:18e6b369c1e00a3051ea65</string>
</dict>
</plist>